# 4.3 Instacart Data Import and Descriptive Analysis

### This script contains the following points: <br> <br> 
1. Importing Libraries <br> <br> 
2. Importing Products Data Set <br> <br> 
3. Products Data Set Descriptive Statistics and Checks

## 01 Importing libraries

In [1]:
# Import libararies
import pandas as pd
import numpy as np
import os

## 02 Importing Products Data Set

In [2]:
# First create a string of the path for the main project folder
path = r'/Users/mistystone/Library/CloudStorage/OneDrive-Personal/Documents/CF_Data_Ach4_Python/2023-05_Instacart_Basket_Analysis/'

In [3]:
# Import the products.csv file.
df_products = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'))

## 03 Products Data Set Descriptive Statistics and Checks

## 03 Products data set descriptive statistics

In [4]:
# Check dataset top
df_products.head(5)

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [5]:
# Check dataset bottom
df_products.tail()

,product_id,product_name,aisle_id,department_id,prices
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [6]:
#  Print the names of the columns in the df_products dataframe.
df_products.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [7]:
# Print the number of rows and columns in the df_products dataframe. 
df_products.shape

(49693, 5)

What is the maximum value of the "aisle_id column? 134

In [8]:
# Descriptive Statistics
df_products.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

What is the data type of the "department_id" column? int64 (Integer)

In [9]:
# Data Types
df_products.dtypes

product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object