# IC 4.6 Combining and Exporting

### This script contains the following points: <br> <br> 
1. Importing Libraries <br> <br> 
2. Importing Data Sets <br> <br> 
3. Data Checks <br>
 > 3.1 orders_product_prior Data Set <br>
 > 3.2 orders_clean Data Set <br>
 > 3.3 products_clean Data Set <br>
4. Merge Dataframes: orders_products_prior and orders_clean <br><br>
5. Merge Dataframes: orders_products_combined and products_clean <br><br>


 > 5.1 Missing Values (Orders Dataframe) <br>
 > 5.2 Checking for Duplicates (Orders Dataframe) <br>
 > 5.3 Mixed Datatypes Check (Orders Dataframe) <br>
 > 5.4 Exporting Orders Dataframe <br>

## 01 Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

## 02 Importing Data

In [2]:
# First create a string of the path for the main project folder
path = r'/Users/mistystone/Library/CloudStorage/OneDrive-Personal/Documents/CF_Data_Ach4_Python/2023-05_Instacart_Basket_Analysis/'

In [3]:
# Import df_ords_prior
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'))

In [4]:
# Import orders_clean dataset
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_clean.csv'))

In [5]:
# Import products_clean dataset
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_clean.csv'))

## 03 Data Checks

### 03.01 orders_products_prior

In [6]:
# Check shape
df_ords_prior.shape

(32434489, 4)

In [7]:
# Check head
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

### 03.02 orders_clean

In [8]:
df_ords.shape

(3421083, 7)

In [9]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,7.0
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [10]:
# drop Unnamed = 0 column
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [11]:
df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,7.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

### 03.03 products_clean

In [12]:
# df_prods shape
df_prods.shape

(49672, 6)

In [13]:
# df_prods head
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [14]:
#drop Unnamed = 0 column
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [15]:
#df_prods head
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

## 04 Merging Dataframes: orders_products_prior and orders_clean

In [16]:
# Merge
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [17]:
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

In [18]:
# Check frequency of _merge
df_merged_large['_merge'].value_counts()
# Should always also check an outer join to see how many rows from each dataset
# are not matched. This is an inner join, so the result will always be in both.

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [19]:
# Check merged data set
df_merged_large.shape

(32434489, 10)

In [20]:
# Check df_merged_large head
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

In [21]:
# Drop _merge column
df_merged_large = df_merged_large.drop(columns = ['_merge'])

In [22]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

## 05 Merge Dataframes: orders_products_combined and products_clean

In [23]:
# Import saved orders_products_combined.pkl as df_ords_prods_comb
df_ords_prods_comb = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data','orders_products_combined.pkl'))

In [24]:
# Check df_ords_prods_comb
df_ords_prods_comb.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,7.0,196,1,0
1,2539329,1,1,2,8,7.0,14084,2,0
2,2539329,1,1,2,8,7.0,12427,3,0
3,2539329,1,1,2,8,7.0,26088,4,0
4,2539329,1,1,2,8,7.0,26405,5,0

In [25]:
# Check df_prods
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [26]:
# Merge
df_merged_large = df_ords_prods_comb.merge(df_prods, on = 'product_id', indicator = True)

In [27]:
# Check shape
df_merged_large.shape

(32404859, 14)

In [28]:
# Check merge. 
# Want all of the rows to be in the "both" row, 
# and the left_only and right_only to be 0.
df_merged_large['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [29]:
# Check df_merged_large head
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [30]:
# Drop _merge column
df_merged_large = df_merged_large.drop(columns = ['_merge'])

In [31]:
# Check df_merged_large head
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0

## 06 Final Export of orders_products_merged

In [32]:
# Export data in Pickle format
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))