# IC Deriving New Variables

### This script contains the following points: <br> <br> 
1. Importing Libraries <br> <br> 
2. Importing Data Sets <br> <br> 
3. Data Checks <br> <br>
4. User-defined functions <br>
 > 04.01 price_range_loc<br>
 > 04.02 busiest_day<br>
 > 04.03 Busiest_days: Two busiest days and two slowest days<br>
 > 04.04 busiest_period_of_day<br>
5. Exporting data

## 01 Import Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

## 02 Import Data

In [2]:
# First create a string of the path for the main project folder
path = r'/Users/mistystone/Library/CloudStorage/OneDrive-Personal/Documents/CF_Data_Ach4_Python/2023-05_Instacart_Basket_Analysis/'

In [3]:
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data','orders_products_merged.pkl'))

## 03 Data Checks

In [4]:
# df_ords_prods_merged head
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0

In [5]:
# df_ords_prods_merged shape
df_ords_prods_merged.shape

(32404859, 13)

In [6]:
# df_ords_prods_merged descriptive statistics
df_ords_prods_merged.describe()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.239973e+07
mean,1.710745e+06,1.029372e+05,1.714230e+01,2.738867e+00,1.342515e+01,1.084114e+01,2.559866e+04,8.352547e+00,5.895873e-01,7.119612e+01,9.919792e+00,7.790994e+00
std,9.872988e+05,5.946610e+04,1.753532e+01,2.090077e+00,4.246380e+00,8.552435e+00,1.408400e+04,7.127071e+00,4.919087e-01,3.821139e+01,6.281485e+00,4.241809e+00
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,8.559470e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.354400e+04,3.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00,4.200000e+00
50%,1.711049e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00,2.530200e+04,6.000000e+00,1.000000e+00,8.300000e+01,9.000000e+00,7.400000e+00
75%,2.565499e+06,1.543890e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.400000e+01,3.794700e+04,1.100000e+01,1.000000e+00,1.070000e+02,1.600000e+01,1.130000e+01
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,1.340000e+02,2.100000e+01,2.500000e+01

## 04 User-defined functions

### 04.01 price_range_loc

In [7]:
# High-range product
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range poduct'

In [8]:
# Mid-range product
df_ords_prods_merged.loc[(df_ords_prods_merged['prices'] <= 15) & (df_ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [9]:
# Low-range product
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [10]:
df_ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product    21860860
Low-range product    10126321
High-range poduct      412551
NaN                      5127
Name: price_range_loc, dtype: int64

### 04.02 busiest_day

In [11]:
# On which day do most orders take place?
df_ords_prods_merged['order_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

Day 0 means Saturday, which is the most popular day to place orders. Day 4 means Wednesday, which is the least popular day to place orders.

In [12]:
# Create a new column with 'Busiest day', 'Least busy', and 'Regular busy'

result = []  # creates empty list named result

for value in df_ords_prods_merged["order_day_of_week"]:
  if value == 0:  # The term value is a placeholder. It could be anything, and is commonly called x. 
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [13]:
# Add the result column to the df_ords_prods_merged dataframe.
# Create a new column within the df_ords_prods_merged dataframe and set it equal to result.
df_ords_prods_merged['busiest_day'] = result

In [14]:
# Check busiest_day frequencies
df_ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [15]:
# df_ords_prods_merged head
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy

### 04.03 Busiest_days: Two busiest days and two slowest days

In [16]:
# Create a new column with 'Busiest day', 'Least busy', and 'Regular busy'

result = []  # creates empty list named result

for value in df_ords_prods_merged["order_day_of_week"]:
  if value in [0,1]:  # The term value is a placeholder. It could be anything, and is commonly called x. 
    result.append("Busiest day")
  elif value in[3,4]:
    result.append("Least busy")
  else:
    result.append("Regular busy")

In [17]:
# Add the result column to the df_ords_prods_merged dataframe.
# Create a new column within the df_ords_prods_merged dataframe and set it equal to result.
df_ords_prods_merged['Busiest_days'] = result

In [18]:
# Check counts
df_ords_prods_merged['Busiest_days'].value_counts(dropna = False)

Regular busy    12916111
Busiest day     11864412
Least busy       7624336
Name: Busiest_days, dtype: int64

There are fewer regular busy days, approx 13 million from 22 million.
There are more busiest days, approx 11 million from 6 million.
There are more least busy days, approx 8 million from 4 million. 
Nonetheless, the number of regular busy days is still the highest and the number of least busy days is still the lowest.

### 04.04 busiest_period_of_day

In [19]:
df_ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

I am going to define the hours of 10, 11, 12, 13, 14, 15, and 16 as the 'Most orders'.
I am going to define the hours of 0, 1, 2, 3, 4, 5, and 6 as the 'Fewest orders'.
I am going to define the hours of 6, 7, 8, 9, as well as 17, 18, 19, 20, 21, 22, 23 as 'Average orders.'

In [20]:
# Create a new column with 'Most orders', 'Average orders', and 'Fewest orders'

result = []  # creates empty list named result

for value in df_ords_prods_merged["order_hour_of_day"]:
  if value in [10,11,12,13,14,15,16]:  
    result.append("Most orders")
  elif value in[0,1,2,3,4,5,6]:
    result.append("Fewest orders")
  else:
    result.append("Average orders")

In [21]:
# Add the result column to the df_ords_prods_merged dataframe.
# Create a new column within the df_ords_prods_merged dataframe and set it equal to result.
df_ords_prods_merged['busiest_period_of_day'] = result

In [22]:
# Check counts
df_ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       18663868
Average orders    12854170
Fewest orders       886821
Name: busiest_period_of_day, dtype: int64

# 05 Exporting data

In [23]:
# Export data in Pickle format
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))